/* // <uniquifier>: Use a unique and descriptive class name// 

.syne-<uniquifier> {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* {"Syne", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }; */


h1 {
    font-family: "Syne", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 55px;
}

:root {
    --couleur-titres: #353B2A;
    /* Couleur principale */
    --font-titres: "Syne", serif;
    --font-textes: "Syne", serif;
    --border: 30Px;
    /* Rayon des bordures */
    --couleur-boutton: rgba(187, 211, 149, 1);
    --couleur-fond: rgb(187, 211, 149);
    --shadow: 0px 4px 4px 0px rgba(85, 85, 85, 0.3);
}




html {
    background-color: #FFFBF9;
    ;
    margin: 0px;
    padding: 0px;

}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--couleur-titres)
}


#nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 20px;
    position: fixed;
    z-index: 100;
 }
 
 nav {
    width: 60%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    background-color: rgba(187, 211, 149, 0.9);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
 }
 
 
 #navbarLeft {
    display: flex;
    align-items: center;
    gap: 15px;
 }
 
 #logoAsso {
    width: 40px;
    height: 40px;
 }
 
 #traitNav {
    height: 35px;
    width: 0.5px;
    background-color: #0A1100;
 }
 
 nav p {
    font-size: 14px;
    width: 154px;
 }
 
 
 #navbarRight {
    display: flex;
    align-items: center;
    gap: 27px;
    font-weight: bold;
    font-size: 16px;
 }
 
 
 #navbarRight a {
    text-decoration: none;
    color: #0A1100;
    transition: color 0.3s ease-in-out;
 }
 
 #navbarRight a:hover {
    color: #4A6C00;
 }
 
 /* Menu Burger caché sur desktop */
 #burger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    z-index: 200;
 }
 
 
 @media screen and (max-width: 768px) {
    nav {
       width: 90%;
       max-width: 100%;
       justify-content: space-between;
    }
 
    #burger-menu {
       display: block;
       position: absolute;
       right: 20px;
       top: 10px;
       font-size: 26px;
    }
 
    #navbarRight {
       display: none;
       flex-direction: column;
       position: absolute;
       top: 60px;
       right: 0;
       width: 100%;
       background-color: rgba(187, 211, 149, 0.9);
       backdrop-filter: blur(4px);
       padding: 15px 0;
       border-radius: 0 0 10px 10px;
       text-align: center;
    }
 
    #navbarRight a, #navbarRight button {
       padding: 10px;
       display: block;
    }
 
    /* Classe active pour afficher le menu */
    #navbarRight.active {
       display: flex;
    }
 }



#containerhun {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    padding-top: 90px;
}

#introIndex {
    display: flex;
    justify-content: space-around;
}




#benevole {
    width: 525px;
    margin-bottom: 100px;
}

#sectionun {
    padding-bottom: 50px;
}

#accrochecontainer {
    display: flex;
    flex-direction: column;
    padding: unset;
}

#accroche {
    display: flex;

}

#imgBenevoledeux {
    height: 160px;
}

#hdeuxaccrocheun {
    font-family: "Syne", serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 12px;
    margin-left: 175px;
}

#hdeuxaccrochedeux {
    font-family: "Syne", serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    font-size: 60px;
    margin-top: 0px;
}

#smallAccroche {
    display: flex;
    justify-content: space-around;
}

#accrochePUn {
    width: 300px;
}

#accrochePDeux {
    width: 168px;
    margin-top: 125px;
}

#fondvert {
    background-color: #bbd395;
    height: auto;
    padding: 50px 0;
}

#presContainer {
    display: flex;
    padding: unset;
    height: 100%;
}


#presentationcontent {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    gap: 5px;
    align-items: flex-start;
}

#presentationcontent h2 {
    font-size: 40px;
}

#presentationcontent p {
    font-size: 27px;
}

#presentationtel {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#imgTelUn {
    height: 415px;
}

#buttonwhite {
    background-color: #FFFBF9;
}




h2,
h3 {
    font-family: var(--font-titres);
    color: var(--couleur-titres);
    justify-self: center;
}

.grandtitre2 {
    font-size: 60px;
}

#titregraph {
    font-family: var(--font-titres);
    color: var(--couleur-titres);
    justify-self: center;
}

p {
    font-family: var(--font-textes);
}

.bouttons {
    border-radius: var(--border);
    background-color: var(--couleur-boutton);
    border-width: 0cm;
    padding: 5px;
}

.grandboutton {
    width: 300px;
    height: 43px;
    box-shadow: var(--shadow);
    color: var(--couleur-titres);
}

.petitboutton {
    width: 161px;
    height: 33px;
    font-size: 16px;
    font-weight: bold;
    color: var(--couleur-titres);
}

.container {
    max-width: 1080px;
    margin: auto;
}

p {
    font-family: var(--font-textes);
    color: var(--couleur-titres);
}

#graph-container {
    display: flex;
    padding: 20px;

}

#containergraphique {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

#listestats {
    font-family: var(--font-textes);
}

#graphique40 {
    width: 39%;
    height: auto;
    padding: 8%;
    margin: auto;
}
.far-right{
    justify-self: end;
}
.elementslistestats {
    padding-bottom: 25px;
}

.banderole {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.grande-carte {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.carte {
    width: 325px;
    height: 295px;
    text-align: center;
    box-shadow: var(--shadow);
    padding: 5px;
    border-radius: var(--border);
}

.personnes {
    width: 87px;
    height: 87px;
    border-radius: 100%;
}

.img-doc {
    width: 100%;
    padding-top: 100px;
}

.img-fideliter {
    background-image: url(medias\userflow-doc.svg);
    width: 100%;
}

#presentationapp {
    display: flex;
    background-color: #bbd395;
}

.store {
    display: flex;
    padding-left: 20px;
}

#explicationsapp {
    display: flex;
    flex-direction: column;
    gap: 180px;
}

#explicationappcontainer {
    display: flex;
    font-family: var(--font-textes);
    font-size: 25px;
}

#explication2 {
    display: flex;
    align-self: center;
}

.mots {
    border: solid 1px ;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
    background-color: #FFFBF9;
}

.mots:hover {
    background-color: #E3EBD0;
    transition: background-color 200ms;
}

#footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgba(187, 211, 149, 0.427);
}

#formulaire1 {
    display: flex;
    padding-top: 10px;
    gap: 20px;
    justify-content: space-around;
}

#formulaire2 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.inputinfo {
    width: 180px;
    height: 40px;
    border-radius: 9px;
}

.userflow {
    width: 100%;
}

#coche {
    width: 15px;
    height: 15px;
}

#accept {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#messagecontact {
    width: 600px;
    height: 70px;
    border-radius: 9px;
}

.trait-hauteur {
    background-color: var(--couleur-titres);
    width: 1px;
    height: 110px;
}

.trait-longueur {
    align-self: center;
    margin: 20px;
    height: 1px;
    width: 40px;
    background-color: var(--couleur-titres);
}

.parcours-haut {
    display: flex;
}

.parcours-milieu {
    display: flex;
    justify-content: space-around;
    padding-left: 80px;
    gap: 80px;
}

.parcours-fin {
    display: flex;
    justify-content: center;
    padding-left: 80px;
    gap: 80px;
}

.plan {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.plan-container {
    width: 230px;
    height: 240px;
    text-align: center;
    border: var(--couleur-titres) 1px solid;
    border-radius: var(--border);
    padding: 5px;
}

.etapes-container {
    width: 400px;
    height: 195px;
    border: var(--couleur-titres) 1px solid;
    border-radius: var(--border);
    text-align: center;
    padding: 5px;
}

.vert {
    background-color: rgba(187, 211, 149, 0.427);
}

i {

    color: #0A1100;
    padding: 10px;
    padding-left: 80px;
    padding-bottom: 20px;
}

#icons {
    font-family: var(--font-textes);
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 250px;
}

.icon-container {
    padding-bottom: 25px;
}

#bulles-container {
    margin-bottom: 20px;
}

#docIntro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 70px;
}

#titre-doc {
    font-family: var(--font-titres);
    letter-spacing: 7px;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 251, 249, 1) 0%, rgba(187, 211, 149, 1) 100%);
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

#ActidroitsID {
    font-family: "Syne", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    width: 100%;
}

.greenbackground {
    display: flex;
    flex-direction: column;
    background-color: var(--couleur-fond);
    width: 51%;
    padding: 5%;

}

.dividedSection {
    display: flex;
}


.personaImg img,
.graphiqueImg img {
    margin: 5% 15%;

}

#rejoindrevert {
    color: #BBD395;
}

.titre-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.titre-container h2 {
    align-self: start;
    font-size: 80px;
}

#leftImg {
    align-self: start;
}

#userflowgraph {
    padding-bottom: 20px;
    width: 100%;
}

.graphiqueImg img {
    margin-right: 73px;
}

#FAQ {
    display: flex;
    align-items: flex-start;
    width: 80%;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 40px;
}

#faqAllDetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.FaqDetail {
    height: 70px;
    display: flex;
    align-items: flex-start;
    border: #353B2A 1px solid;
    background-color: #bbd3953d;
    border-radius: 10px;
    padding-left: 10px;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-textes);
    gap: 5px
}

summary {
    width: 100%;
    font-family: var(--font-titres);
    cursor: pointer;
}

summary::marker {
    color: #353B2A;
}


.d-flex {
    display: flex;

}

.trait-hauteur-container {
    width: 400px;
}

#parcours-list-wrapper {
    flex-wrap: nowrap;
    /* Empêche le retour à la ligne */
    overflow-x: auto;
    /* Permet le scroll horizontal */
    max-width: 1080px;
    /* Empêche de dépasser le container
    (du coup overflow-x sur le body n'est pas forcément necessaire*/
}

.etape-right-content {
    flex-direction: column;
    align-items: end;

    .trait-hauteur-container {
        justify-content: center;
    }
}

/* css autre version de l'accroche */
#imgBenevoledeux-v2 {
    margin-right: 210px;
    height: 160px;
}


@media screen and (max-width: 900px) {
    #navP {
        font-size: 8px;
        width: 80%;
    }

    .petitboutton {
        width: 75px;
        font-size: 10px;
    }

    h1 {
        font-size: 35px;
        width: 100%;
        text-align: center;
    }

    #introIndex {
        flex-direction: column;
        align-items: center;
    }

    #titre-doc {
        letter-spacing: 4px;
    }

    #benevole {
        width: 100%;
    }

    #hdeuxaccrocheun {
        text-align: left;
        font-size: 25px;
        margin-left: 0%;
        margin-top: 70px;
        margin-bottom: 0px;
    }

    #hdeuxaccrochedeux {
        text-align: center;
        font-size: 25px;
    }

    #smallAccroche {
        flex-direction: column;
    }

    #accrochePUn {
        width: 50%;
        align-self: flex-start;
        padding: 10px;
    }

    #accrochePDeux {
        margin-top: 60px;
        width: 50%;
        align-self: flex-end;
        padding: 10px;
    }

    #fondvert {
        height: 100%;
    }

    #presContainer {
        flex-direction: column;
    }

    #presentationcontent {
        width: 100%;
        align-items: center;
        text-align: center;
        padding-bottom: 10px;
    }

    #presentationtel {
        width: 100%;
    }

    #containergraphique {
        flex-direction: column;
    }

    .grande-carte {
        flex-wrap: wrap;
        gap: 20px;
    }

    .carte {
        width: 260px;
        font-size: 13px;
    }
    .anonymat{
        padding-left: 10px;
    }
    .grandtitre2 {
        font-size: 25px;
        text-align: center;
    }

    #graphique40 {
        margin-right: 73px;
    }

    #telephone {
        width: 100%;
    }

    .banderole {
        gap: 5px;

    }

    #presentationapp {
        flex-direction: column;
    }

    #explication1 {
        padding-left: 9px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #explication2 {
        padding-right: 9px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #explication3 {
        padding-left: 9px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .mots {
        padding: 5px;
        font-size: 10px;
    }



    .titre-form {
        padding-left: 10px;
    }

    #formulaire1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .inputinfo {
        width: 39%;
        padding: 6px;
    }

    #mail {
        width: 88%;
    }

    #formulaire2 {
        align-content: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #accepter {
        font-size: 10px;
        margin: 2px;
    }

    #messagecontact {
        width: 89%;
        height: 110px;
    }

    #accept {
        align-items: center;
        margin-top: 30px;
    }

    .icons {
        padding-bottom: 0px;
        padding-left: 10px;

    }

    .icon-container {
        display: flex;
        justify-content: space-around;
    }

    .i-icon {
        padding: 5px;
    }

    .imggraph {
        width: 75%;
    }


    .imgprsn {
        width: 95%;
        margin: 3% !important;
    }

    #leftImg {
        width: 370px;
    }

    .titre-container h2 {
        font-size: 40px;
    }

    .footer-container {
        width: 100%;
    }

    #userflowgraph {
        width: 360px;
    }

    #parcours-list-wrapper{
        width: 340px;
    }
    #FAQ {
        margin: 38px;
    }
    /* documentation */

.testing{
    justify-content: center;
}

    .item-testing{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;}



    .plan-container {
        width: 135px;
        height: 215px;
    }
    .etapes-container {
        width: 250px;
        height: 150px;
    }
    .trait-hauteur{
        height: 45px;
    }
.testing{
    display: flex;
}
.numero-etape{
font-size: 20px;

}
}
.greenbackground far-right {
    margin-right: -121px ;
}

.greenbackground 2nd {
    margin-left : 20px;
}