/* // <uniquifier>: Use a unique and descriptive class name// 

.syne-<uniquifier> {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
:root {
    --couleur-titres: #353B2A; /* Couleur principale */
    --font-titres: "Syne", sans-serif;
    --font-textes: "Syne", sans-serif;
    --border: 30Px; /* Rayon des bordures */
    --couleur-boutton: rgba(187, 211, 149, 1);
    --couleur-fond:rgb(187, 211, 149);
    --shadow: 0px 4px 4px 0px rgba(85, 85, 85, 0.3);
  }



  
html {
    background-color: #FFFBF9;;
    margin: 0px;
    padding: 0px;

}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--couleur-titres)
}

#nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 20px;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

nav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    background-color: #bbd39599;
    backdrop-filter: blur(4px);
    border-radius: 30px;
}


#navbarLeft{
    display: flex;
    width: 30%;
    align-items: center;
    gap: 15px;
}

#logoAsso{
    width: 40px;
    height: 40px;
}

#traitNav{
    height: 35px;
    width: 0.5px;
    background-color: #0A1100;
}
nav p {
    font-size: 14px;
    width: 154px;
}

#navbarRight{
    display: flex;
    align-items: center;
    gap: 27px;
    width: 63%;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 16px;
}

#containerhun {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    padding-top: 90px;
}

#introIndex {
    display: flex;
    justify-content: space-around;
}

#hunIndex {
    font-size: 54px;
    font-weight: 300;
    width: 726px;
}


#benevole {
    width: 525px;
    margin-bottom: 100px;
}

#sectionun {
    padding-bottom: 50px;
}

#accrochecontainer {
    display: flex;
    flex-direction: column;
    padding: unset;
}

#accroche {
    display: flex;

}

#imgBenevoledeux {
    height: 160px;
}

#hdeuxaccrocheun {
    font-size: 67px;
    margin-bottom: 12px;
    margin-left: 210px;
}

#hdeuxaccrochedeux {
    font-size: 67px;
    margin-top: 0px;
}

#smallAccroche {
    display: flex;
    justify-content: space-around;
}

#accrochePUn {
    width: 300px;
}

#accrochePDeux {
    width: 168px;
    margin-top: 125px;
}

#fondvert {
    background-color: #bbd395;
    height: 100vh;
}

#presContainer {
    display: flex;
    padding: unset;
    height: 100%;
}


#presentationcontent {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    gap: 5px;
    align-items: flex-start;
}

#presentationcontent h2 {
    font-size: 40px;
}

#presentationcontent p {
    font-size: 27px;
}

#presentationtel {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#imgTelUn {
    height: 415px;
}

#buttonwhite{
    background-color: #FFFBF9;
}




h2,h1,h3{
font-family: var(--font-titres);
color: var(--couleur-titres);
justify-self: center;
}
.grandtitre2{
    font-size: 60px;
}
#titregraph{
    font-family: var(--font-titres);
    color: var(--couleur-titres);
    justify-self: center;
    font-size: 45px;
}
p{
    font-family: var(--font-textes);
}
.bouttons{
border-radius: var(--border);
background-color: var(--couleur-boutton);
border-width: 0cm;
padding: 5px;
}
.grandboutton{
    width: 300px;
    height: 43px;
    box-shadow: var(--shadow);
    color: var(--couleur-titres);
}
.petitboutton{
    width: 161px;
    height: 33px;
    font-size: 16px;
    font-weight: bold;
    color: var(--couleur-titres);
}

.container{
    max-width: 1080px ;
    margin: auto;
}

p{
    font-family: var(--font-textes);
    color: var(--couleur-titres);
}

#graph-container{
    display: flex;
    padding: 20px;
    
}
#containergraphique{
    display: flex;
    flex-direction: row;
    gap:10%;
}
#listestats{
    font-family: var(--font-textes);
    font-size: 22px;
}
#graphique40{
    max-width: 600px;
    max-height: 375px;
    padding-top: 125px;
}
.elementslistestats{    
    padding-bottom: 25px;
}
.banderole{
    display: flex;
    gap: 20px;
}
.grande-carte{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.carte{
    width: 325px;
    height: 295px;
    text-align: center;
    box-shadow: var(--shadow);
    padding: 5px;
    border-radius: var(--border);
}
.personnes{
    width: 87px;
    height: 87px;
    border-radius: 100%;
}
.img-doc{
width: 100%;
padding-top: 100px;
}
.img-fideliter{
    background-image: url(medias\userflow-doc.svg);
    width: 100%;
}
#presentationapp{
    display: flex;
    background-color: #bbd395;
}
.store{
    display: flex;
    padding-left: 20px;
}
#explicationsapp{
display: flex;
flex-direction: column;
gap: 180px;
}
#explicationappcontainer{
    display: flex;
    font-family: var(--font-textes);
    font-size: 25px;
}
#explication2{
    display: flex;
    align-self: center;
}
.mots{
border:solid,1px;
border-color: black;
border-radius: 20px;
padding:10px;
background-color: #FFFBF9;
}
.mots:hover{
    background-color: #E3EBD0;
    transition: background-color 200ms;
}
#footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgba(187, 211, 149, 0.427);
}
#formulaire1{
    display: flex;
    padding-top: 10px;
    gap: 20px;
    justify-content: space-around;
}
#formulaire2{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.inputinfo{
    width: 180px;
    height: 40px;
    border-radius: 9px;
}
.userflow{
    width: 100%;
}
#coche{
    width: 15px;
    height: 15px;
}
#accept{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#messagecontact{
    width: 600px;
    height: 70px;
    border-radius: 9px;
}
.trait-hauteur{
background-color:var(--couleur-titres);
width: 1px;
height: 110px;
}
.trait-longueur{
    align-self: center;
    margin: 20px;
    height: 1px;
    width: 40px;
    background-color: var(--couleur-titres);
}
.parcour-haut{
display: flex;
}
.parcour-milieu{
display: flex;
justify-content: space-around;
padding-left: 80px;
gap: 80px;
}
.parcour-fin{
display: flex ; 
justify-content: center;
padding-left: 80px;
gap: 80px;
}
.plan{
    display: flex;  
  }
  .plan-container{
     width: 230px;
     height:240px;
     text-align: center;
     border: var(--couleur-titres) 1px solid;
     border-radius: var(--border);
     padding: 5px;
  }
  .etapes-container{
  width: 400px;
  height: 195px;
  border: var(--couleur-titres) 1px solid;
  border-radius: var(--border);
  text-align: center;
  padding: 5px;
  }
  .vert{
    background-color: rgba(187, 211, 149, 0.427);
  }
i { 

    color: #0A1100;
    padding: 10px;
    padding-left: 80px;
    padding-bottom:20px ;
}

#icons {
    font-family: var(--font-textes);
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 250px;
}
/* .titre-container{
padding-top: 100px;
position: relative;
} */

#docIntro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 70px;
}
#titre-doc {
font-family: var(--font-titres);
    letter-spacing: 7px;
    text-align: center;
    align-items: center;
}

#fondtitre{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: rgb(255,251,249);
    background: linear-gradient(90deg, rgba(255,251,249,1) 0%, rgba(187,211,149,1) 100%); 
}

#imgdoc{
    width: 100%;
    overflow: hidden;
    
}
 .greenbackground {
    display: flex;
    flex-direction: column;
    background-color: var(--couleur-fond);
 width: 50%;
 padding: 5%;
    
} 
.persona {
    display: flex;
}


.personaImg img{
    margin:5% 15%;

}

#rejoindrevert{
    color: #BBD395;
}
.titre-container {
display: flex;
    flex-direction: column;
    align-items: end;
}
.titre-container h2{
    align-self: start;
    font-size: 80px;
}
#leftImg{
    align-self: start;
}
#userflowgraph{
    padding-bottom: 20px;
}

